{% if shouldShowCookieMessage %}
    <div class="app-cookie-banner" style="background-color: #f3f2f1;">
        <div class="app-cookie-banner__message" id="cookies_consent_mechanism">
            <h1 class="govuk-heading-m">Tell us whether you accept cookies</h1>
            <p>We use cookies to <a href="/cookies">collect information about how you use GOV.UK</a>. We use this information to make the website work as well as possible and improve government services.</p>
            {# {{cookieText | safe }} #}
            {{ govukButton({
        text: "Accept all cookies",
        href: "",
        id: "cookie_accept_all",
        classes: "cookie_accept_all"
      }) }}
            {{ govukButton({
        text: "Set cookie preferences",
        href: "/cookies"
      }) }}
        </div>
        <div class="app-cookie-banner__message" id="cookies_hide_message">
            <div style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content:space-between;align-content:stretch">
                <p>You’ve accepted all cookies. You can change your cookie settings at any time.</p>
                <p><a id="hide_cookie_panel" href="#">Hide</a></p>
            </div>
        </div>
    </div>
{% endif %}