<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m">Rules of origin for trade with {{ commodity.country_name2 }}</h2>
        <p>Showing rules for trade with {{ commodity.country_name2 }} &nbsp;&nbsp;<a href="/roo/change_country/{{ commodity.data.attributes.goods_nomenclature_item_id }}">Change country</a></p>
        <!-- <p>If you are importing goods into the UK, you may be able to claim a preferential customs duty rate
            if the country from which the goods are coming has a Trade Agreement with the UK.</p> -->
        {# <p>Select the country from which the goods are coming to identify if there are any applicable rules of
            origin that will impact your import.</p> #}

            {{ roo["pse"] | safe }}
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Introductory notes
                  </span>
                </summary>
                <div class="govuk-details__text">
                    {{ roo["intro"] | safe }}
                </div>
              </details>
            


    </div>
</div>