<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-m">Rules of origin for trade with France</h2>
        <p>Showing rules for trade with France &nbsp;&nbsp;<a href="">Change country</a></p>
        <p>If you are importing goods into the UK, you may be able to claim a preferential customs duty rate
            if the country from which the goods are coming has a Trade Agreement with the UK.</p>
        {# <p>Select the country from which the goods are coming to identify if there are any applicable rules of
            origin that will impact your import.</p> #}

        {{ roo_text | safe }}


    </div>
</div>