{% set ni_url = root_url | other_scope("xi") %}
{% set uk_url = root_url | other_scope("") %}

{% if scopeId == "xi" %}

    <div class="panel panel_grey">
    From 1 January 2021, if you’re bringing goods into Northern Ireland from outside the UK and the EU, you will pay the UK duty rate <a href="https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu-from-1-january-2021">if your goods are not ‘at risk’ of onward movement to the EU</a>. If they are at risk of onward movement to the EU, use <a href="{{ uk_url }}">the UK Global Online Tariff</a>.
    </div>

{% else %}

    <div class="panel panel_grey">
        <p>From 1 January 2021, if you’re bringing goods into Northern Ireland from outside the UK and the EU, you will pay the UK duty rate <a href="https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu-from-1-january-2021">if your goods are not ‘at risk’ of onward movement to the EU</a>. If they are not at risk of onward movement to the EU, use <a href="{{ ni_url }}">the Northern Ireland Online Tariff</a>.
        </p>
        <div class="govuk-warning-text govuk-!-margin-bottom-0">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                <p><strong>The Trade Remedies Authority has published its final recommendation to the Secretary of State for International Trade on the future of the UK’s steel safeguard measure. The recommendation comes into force on 1st July 2021. We are working to update the data on this service.</strong><p>
                <p>For additional guidance, see:</p>
                <ul class="govuk-list">
                    <li>
                        <a target="_blank" href="https://www.gov.uk/government/publications/trade-remedies-notice-safeguard-measures-on-certain-steel-products-application-of-tariff-rate-quotas">Trade remedies notice: safeguard measures on certain steel products – application of tariff rate quotas (opens in new window)</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://questions-statements.parliament.uk/written-statements/detail/2021-06-30/hcws136">Statement made on 30 June 2021 by the Secretary of State for International Trade (opens in new window)</a>
                    </li>
                </ul>
            </strong>
        </div>
    </div>

    {# <p>Use the UK Trade Tariff to look up commodity codes, duty, VAT and controls.</p> #}
{% endif %}