<form action="/search/data_handler/{{commodity.data.attributes.goods_nomenclature_item_id}}" method="post">
  {{ govukInput({
  label: {
    text: "Search " + title | lowerFirst(),
    classes: "b"
  },
  classes: "search-field",
  placeholder: "Enter the name of the goods or commodity code",
  id: "search",
  name: "search"
}) }}

  {{ govukDateInput({
  id: "date_of_trade",
  namePrefix: "date_of_trade",
  fieldset: {
    legend: {
      text: "Date of trade?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s bold"
    }
  },
  hint: {
    text: "If you leave the date blank, then today's date will be used."
  },
  items: [
    {
      classes: "govuk-input--width-2",
      name: "day",
      value: "17"
    },
    {
      classes: "govuk-input--width-2",
      name: "month",
      value: "11"
    },
    {
      classes: "govuk-input--width-4",
      name: "year",
      value: "2021"
    }
  ]
}) }}
  {{ govukDetails({
  summaryText: "Why the date is important",
  text: " You should change the date to match the date you are planning to trade, to ensure that you return the correct duties and controls."
}) }}

  {{ govukButton({
  text: "Search"
}) }}
</form>


<p class="govuk-body">You can also find commodity codes, duty, VAT rates and controls by manually <a href="/browse/{{ scopeId }}">browsing the goods classification</a>.</p>