<form class="tariff-search" action="/search_handler" accept-charset="UTF-8" method="get">
    <div class="govuk-form-group">
        <label class="govuk-label" for="search_term">Search the UK Global Online Tariff</label>
        <input class="govuk-input govuk-input--width-30" id="search_term" name="search_term" type="text" placeholder="Enter the name of the goods or commodity code">
        <button class="govuk-button" data-module="govuk-button">
            Search
        </button>
    </div>
</form>