// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.c {
    text-align: center !important
}

.r {
    text-align: right
}

.govuk-table__caption {
    color: #000 !important
}

table.headings {
    display: table-cell
}

.chapter {
    display         : block;
    background-color: #D1D2E6;
    font-size       : 16px;
    padding         : 3px;
    text-align      : center;
    float           : left;
    margin-right    : 4px;
    min-height      : 22px;
    min-width       : 24px;
}

.govuk-header--s {
    font-family            : "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight            : 700;
    font-size              : 16px !important;
    font-size              : 1rem !important;
    line-height            : 1.25;
}

article.notes {
    margin-top: 2em;
    clear     : both;

    ul {
        font-family            : "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing : antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size              : 16px !important;
        font-size              : 1rem !important;
        line-height            : 1.25;
        margin-top             : 0;
        margin-bottom          : 15px;
        padding-left           : 0;
        list-style-type        : none;
        margin-left            : 0px;
        padding                : 0px;

        li {
            margin-bottom: 15px;
        }
    }

}

.govuk-table--s {
    font-size: 12px;
}

.govuk-table--m {
    font-size: 14px;
}

@media (min-width: 40.0625em) {
    .govuk-table--s {
        font-size: 14px;
    }

    .govuk-table--m {
        font-size: 16px;
    }

    .govuk-table--xs {
        font-size: 14px;
    }
}

.govuk-table--xs {
    font-size: 12px;
}

/* Start heading page */
.heading_row_head {
    font-weight     : normal;
    color           : #333;
    position        : -webkit-sticky;
    /* Safari */
    position        : sticky;
    top             : 0;
    background-color: #fff;
    z-index         : 2
}

.heading_row_head>div {
    font-size       : 12px !important;
    border-bottom   : 5px back solid !important;
    height          : 3em;
    background-color: #fff;
    z-index         : 2
}

@media (min-width: 40.0625em) {
    .heading_row_head {
        font-size: 12px;
    }
}

@media (max-width: 60.0625em) {
    div.heading_row {
        div.expendable {
            display: none !important;
        }

        div.description {
            width: 60% !important
        }

        div.commodity {
            width: 40% !important
        }
    }
}

.heading_row,
.chapter_row {
    font-family            : "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    display                : flex;
    flex-direction         : row;
    flex-wrap              : nowrap;

    div {
        flex-direction: column;
        display       : flex;
        flex-direction: row;
        padding-top   : 2px;

        abbr,
        span {
            padding: 0px 3px 0px 3px;
        }
    }

    div.vat {
        width          : 10%;
        flex-wrap      : wrap;
        justify-content: right;
        font-size      : 14px;
    }

    div.mfn {
        width          : 14%;
        flex-wrap      : wrap;
        justify-content: right;
        font-size      : 14px;
    }

    div.supplementary_unit {
        width          : 10%;
        flex-wrap      : wrap;
        justify-content: center;
        font-size      : 14px;
    }
}

.heading_row {
    padding      : 4px 0px 4px 0px;
    border-bottom: 1px solid #DEE0E2;
    font-size    : 14px;

    div.description {
        width    : 50%;
        flex-wrap: wrap;
    }

    div.commodity {
        width          : 16%;
        flex-wrap      : nowrap;
        justify-content: flex-end;
        padding-top    : 0px;
    }
}

.chapter_row {
    font-size      : 16px;
    justify-content: start;
    padding        : 10px 0px;
    border-bottom  : 1px solid #B1B4B6;

    div.commodity {
        margin-right: 2%
    }
}

@media (min-width: 40.0625em) {
    .chapter_row {
        font-size: 19px;
    }

    .heading_row {
        font-size: 16px;
    }
}

/* End heading page */

/* Start commodity code bars (generic) */
.code {
    white-space: nowrap;
    text-align : center;
    margin-left: 4px;
    font-size  : 12px;
    padding    : 4px 1px 1px 1px;
    height     : 16px;
    width      : 20px;
    min-width  : 20px;
    max-width  : 20px;
    color      : #000;
}

@media (min-width: 40.0625em) {
    .code {
        font-size: 16px;
        padding  : 3px 4px !important;
        height   : 22px;
        width    : 24px;
    }
}

.mauve {
    background-color: #d1d2e6;
}

.blue {
    background-color: #b3d9ee;
}

.green {
    background-color: #abeae5;
}

/* End commodity code bars (generic) */

div.indent_1 {
    padding-left: 0em !important;
    font-weight : bold;
}

div.indent_2 {
    padding-left: 2em !important;
}

div.indent:before {
    content   : ' \25B6';
    position  : relative;
    left      : -1.5em;
    margin-top: 1px;
    width     : 0em;
    color     : #1961a0;
    z-index   : 1;
}

div.indent_3 {
    padding-left: 4em !important;
}

div.indent_4 {
    padding-left: 6em !important;
}

div.indent_5 {
    padding-left: 8em !important;
}

div.indent_6 {
    padding-left: 10em !important;
}

div.indent_7 {
    padding-left: 12em !important;
}

div.indent_8 {
    padding-left: 14em !important;
}

div.indent_9 {
    padding-left: 16em !important;
}

div.indent_10 {
    padding-left: 18em !important;
}

div.indent_11 {
    padding-left: 20em !important;
}

div.indent_12 {
    padding-left: 22em !important;
}

.inline-button {
    margin-top         : 30px;
    height             : 38px;
    width              : 40px;
    vertical-align     : bottom;
    text-indent        : -5000px;
    background-image   : url('/public/images/search-button.png');
    background-repeat  : no-repeat;
    background-position: 1px -17px;
}

.search-field {
    margin-right: 0px !important;
    width       : 30em;
}

.change_date {
    padding-left: 1em;
}

.form-inline {
    display  : flex;
    flex-flow: row wrap;
}

div.panels {
    display: flex;
    padding: 1em
}

div.panel {
    background-color       : #F3F2F1;
    padding                : 1em;
    margin-bottom          : 1.5em;
    font-family            : "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.panel_grey {
    font-size       : 19px;
    background-color: #f0f0f0;
    padding         : 0.5em 0.75em !important;

}

div.panel_blue {
    font-size       : 19px;
    background-color: #d2edf9;
    padding         : 0.5em 0.75em !important;

}

.notbold {
    font-weight: normal !important;
}


@media (max-width: 40.0625em) {
    div.panels {
        display: block;
        padding: 1em
    }

    div.panel {
        width: 100%
    }
}


.measures {
    th {
        text-align: left;
        padding   : 0px;
    }

    .country {
        width: 20%
    }

    .measure {
        width: 20%
    }

    .value {
        width: 10%
    }

    .conditions {
        width: 10%
    }

    .exclusions {
        width: 10%
    }

    .legal_base {
        width: 10%
    }

    .dates {
        width: 10%
    }

    .footnotes {
        width        : 10%;
        padding-right: 5px !important;
    }

    td.country {
        padding-left: 5px
    }

    .govuk-details {
        font-size     : 14px;
        padding-top   : 0px;
        margin-top    : 0px;
        padding-bottom: 0px;
        margin-bottom : 0px;
    }

    .govuk-details__summary {
        font-size     : 14px;
        padding-top   : 0px;
        margin-top    : 0px;
        padding-bottom: 0px;
        margin-bottom : 0px;
    }

    tr td {
        border: 0px !important
    }

    tr th {
        background-color: #E1E8E8;
        font-weight     : normal;
        padding         : 4px 4px 4px 0px !important;
    }

    tr th:nth-child(1) {
        padding-left: 4px !important;
    }

    tr:nth-child(even) {
        background: #f8f8f8
    }

    tr:nth-child(odd) {
        background: #FFF
    }

    tr.measure:hover {
        background-color: #DEE0E2;
    }

    .govuk-details__text {
        border: 0px !important
    }

    .govuk-details__summary::before {
        margin-top  : 3px;
        border-width: 6px 0 6px 10.392px;
    }

    .govuk-details[open]>.govuk-details__summary::before {
        border-width: 6px 0 6px 10.392px;
    }



    @media (max-width: 40.0625em) {

        .govuk-details {
            margin  : 0px;
            padding : 0px;
            top     : -2px;
            position: relative;
        }

        .govuk-details__summary-text {
            font-size: 12px;
        }

        .govuk-details__summary {
            padding-left: 0.75em;
        }

        .govuk-details__summary::before {
            border-width: 3.5px 0 3.5px 6.62px;
        }

        .govuk-details[open]>.govuk-details__summary::before {
            border-width: 6.62px 3.5px 0 3.5px;
        }

        .legal_base {
            display: none;
        }

        td.country {
            padding-left: 0px !important;
        }

        .footnotes {
            display: none;
        }

        .conditions {
            display: none;
        }

        .exclusions {
            display: none;
        }

        .govuk-table__caption {
            font-size: 14px;
        }
    }
}


ul.countries {
    margin         : 0px 0px 0px 5px;
    padding        : 0px;
    list-style-type: none;

    li {
        margin-bottom: 5px;
    }
}

.govuk-table__caption {
    width: 100%;
}

.govuk-table__subcaption {
    color      : #505A5F;
    font-size  : 16px;
    font-weight: normal !important;
    width      : 100%;
}

@media (min-width: 40.0625em) {
    .govuk-table__subcaption {
        font-size: 19px;
    }
}

.mb10 li {
    margin-bottom:1em;
}

.b {
    font-weight: bold;
}

@import "components/attachments";
@import "components/az";
@import "components/bold_banner";
@import "components/breadcrumbs";
@import "components/calculate";
@import "components/bottom_links";
@import "location-autocomplete.min";


@import "bz";