{% extends "layout.html" %}

{% block pageTitle %}
  Trade Tariff: Calculate duty - select destination
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "experimental"
      },
      html: 'This is an experimental service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
  {{ govukBackLink({
  text: "Back",
  href: "/calculate/date/" + commodity.data.attributes.goods_nomenclature_item_id
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="/calculate/data_handler/{{commodity.data.attributes.goods_nomenclature_item_id}}">

        <span class="govuk-caption-xl">Calculate import duties</span>

        {# Get error message #}
        {% if (error == "destination") %}
          {% set error_message = { text: "Select a valid destination" } %}
          {% set error_class = "govuk-input--error" %}
        {% else %}
          {% set error_message = null %}
          {% set error_class = "" %}
        {% endif %}

        {# Display the destination radio buttons #}
        {{ govukRadios({
            idPrefix: "destination",
            name: "destination",
            fieldset: {
                legend: {
                text: "Which part of the UK are you importing into?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "The duty you are charged may be dependent on the part of the UK to which you are importing."
            },
            errorMessage: error_message,
            items: [
                {
                value: "england",
                text: "England"
                },
                {
                value: "scotland",
                text: "Scotland"
                },
                {
                value: "wales",
                text: "Wales"
                },
                {
                value: "ni",
                text: "Northern Ireland"
                }
            ]
            }) }}

        {# Display the Continue button #}
        {{ govukButton({
            text: "Continue"
            }) }}

        <p>Click on 'Continue' to enter the <strong>origin</strong> of the product you are looking to import.</p>
      </form>
    </div>
  </div>

{% endblock %}
</html>