{% extends "layout.html" %}

{% block pageTitle %}
  Trade Tariff: Calculate duty - tariff payable
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
  {{ govukBackLink({
  text: "Back",
  href: "/calculate/confirm/" + commodity.data.attributes.goods_nomenclature_item_id
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Calculate import duties</span>
      <h1 class="govuk-heading-xl">Import duty calculation</h1>

      <p>You are importing commodity <a href="/commodities/{{ commodity.goods_nomenclature_item_id }}">
          <strong>{{ commodity.goods_nomenclature_item_id | format_commodity_code }}</a>
        </strong> from <strong>Mulvania</strong> on <strong>03 Jun 2021</strong>.</p>

      <details class="govuk-details import_summary" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Details of your trade</span>
        </summary>
        <div class="govuk-details__text">
          <dl>
            <dt>Origin:</dt>
            <dd>{{ commodity.country_name }}&nbsp;</dd>

            <dt>Commodity:</dt>
            <dd>{{ commodity.goods_nomenclature_item_id | format_commodity_code }}<br>
              {{ commodity.description | safe }}</dd>

            <dt>Import date:</dt>
            <dd>1 Jan 2021&nbsp;</dd>

            <dt>Valuation for import:</dt>
            <dd>£2,000.00&nbsp;</dd>

            <dt>Import quantity:</dt>
            <dd>200.00 kilograms</dd>
          </dl>
        </div>
      </details>

      <!-- Start navigation //-->
      <nav>
        <p class="govuk-body govuk-!-margin-bottom-3">See below for the options for paying duties on this import:</p>

        <ul class="app-contents govuk-!-margin-bottom-9">

          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-body" href="#measure_type_103">Option 1: Third-country duty</a>
          </li>
          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-body" href="#measure_type_112">Option 2: Autonomous tariff suspension</a>
          </li>
          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-body" href="#measure_type_115">Option 3: Autonomous suspension under end-use</a>
          </li>
          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-body" href="#measure_type_117">Option 4: Suspension - goods for certain categories of ships, boats and other vessels and for drilling or production platforms</a>
          </li>
          <li class="govuk-!-margin-bottom-2">
            <a class="govuk-body" href="#measure_type_119">Option 5: Airworthiness tariff suspension</a>
          </li>
        </ul>
      </nav>
      <!-- End navigation //-->

      <div id="UKMFN">
        <h2 class="govuk-heading-s teal">Screen UKMFN</h2>
        <p class="teal">The option below shows when:</p>
        <ul class="teal">
          <li>Trade is RoW to NI</li>
          <li>Trader is a member of UKTS, is processing acceptably and final use in UK</li>
          <li>The UK MFN may be used as EU MFN minus UK MFN &lt;= 3% of customs value</li>
        </ul>

        <h2 id="measure_type_103" class="govuk-heading-m">Option 1: Third-country duty</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          classes: "govuk-table--m",
          head: [
            {
              text: "Data"
            },
            {
              text: "Calculation"
            },
            {
              text: "Value",
              classes: "r"
            }
          ],
          rows: [
            [
              {
                text: "Valuation for import"
              },
              {
                text: "Value of goods + freight + insurance costs"
              },
              {
                text: "£1,500.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Import duty <br><span class='govuk-green'>Third-country duty (UK)</span>"
              },
              {
                text: "10% * £1,500.00"
              },
              {
                text: "£150.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Duty total",
                classes: "b"
              },
              {
                text: ""
              },
              {
                text: "£150.00",
                classes: "r b"
              }
            ]
          ]
        }) }}

        <p class="govuk-body">A ‘Third country’ duty is the tariff charged where there isn’t a trade agreement or a customs union available. It can also be referred to as the Most Favoured Nation (MFN) rate.</p>

        <p class="govuk-body">UK import duties apply, as the difference between the UK third country duty and the EU third country duty is lower than 3% of the customs value of your trade.</p>
      </div>

      <div id="EUMFN">
        <h2 class="govuk-heading-s teal">Screen EUMFN</h2>
        <p class="teal">The option below shows when:</p>
        <ul class="teal">
          <li>Trade is RoW to NI</li>
          <li>Trader is a member of UKTS, is processing acceptably and final use in UK</li>
          <li>The UK MFN may be NOT be used as EU MFN minus UK MFN &gt; 3% of customs value</li>
        </ul>

        <h2 id="measure_type_103" class="govuk-heading-m">Option 1: Third-country duty</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          classes: "govuk-table--m",
          head: [
            {
              text: "Data"
            },
            {
              text: "Calculation"
            },
            {
              text: "Value",
              classes: "r"
            }
          ],
          rows: [
            [
              {
                text: "Valuation for import"
              },
              {
                text: "Value of goods + freight + insurance costs"
              },
              {
                text: "£1,500.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Import duty <br><span class='govuk-green'>Third-country duty (EU)</span>"
              },
              {
                text: "10% * 1,500.00 EUR"
              },
              {
                text: "£150.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Duty total",
                classes: "b"
              },
              {
                text: ""
              },
              {
                text: "£150.00",
                classes: "r b"
              }
            ]
          ]
        }) }}

        <p class="govuk-body">A ‘Third country’ duty is the tariff charged where there isn’t a trade agreement or a customs union available. It can also be referred to as the Most Favoured Nation (MFN) rate.</p>

        <p class="govuk-body">EU import duties apply, as the difference between the UK third country duty and the EU third country duty exceeds 3% of the customs value of your trade.</p>
      </div>

      <div id="EUPREF">
        <h2 class="govuk-heading-s teal">Screen EUPREF</h2>
        <p class="teal">The option below shows when:</p>
        <ul class="teal">
          <li>Trade is RoW to NI</li>
          <li>Trader is a member of UKTS, is processing acceptably and final use in UK</li>
          <li>The EU preference may be used as EU MFN minus UK MFN &gt; 3% of customs value, but not the UK preference</li>
        </ul>

        <h2 id="measure_type_103" class="govuk-heading-m">Option 2: Tariff preference - Chile</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          classes: "govuk-table--m",
          head: [
            {
              text: "Data"
            },
            {
              text: "Calculation"
            },
            {
              text: "Value",
              classes: "r"
            }
          ],
          rows: [
            [
              {
                text: "Valuation for import"
              },
              {
                text: "Value of goods + freight + insurance costs"
              },
              {
                text: "£1,500.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Import duty <br><span class='govuk-green'>Tariff preference (EU)</span>"
              },
              {
                text: "10% * 1,500.00 EUR"
              },
              {
                text: "£150.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Duty total",
                classes: "b"
              },
              {
                text: ""
              },
              {
                text: "£150.00",
                classes: "r b"
              }
            ]
          ]
        }) }}

        <p class="govuk-body">A tariff preference is the rate available if a free trade agreement or another arrangement is in place between the UK and an overseas country. Goods will need to comply with the <a target="_blank" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin" class="govuk-link">rules of origin</a> to benefit from this rate and you will need to provide evidence of compliance with your shipment.</p>

        <p class="govuk-body">EU preferential duties may be applied, as the difference between the UK preferential duty and the EU preferential duty exceeds 3% of the customs value of your trade.</p>
      </div>

      <div id="UKPREF1">
        <h2 class="govuk-heading-s teal">Screen UKPREF1</h2>
        <p class="teal">The option below shows when:</p>
        <ul class="teal">
          <li>Trade is RoW to NI</li>
          <li>Trader is a member of UKTS, is processing acceptably and final use in UK</li>
          <li>The UK preference may be used as EU MFN minus UK MFN &lt;= 3% of customs value - there is both a UK and an EU preference</li>
        </ul>

        <h2 id="measure_type_103" class="govuk-heading-m">Option 2: Tariff preference - Chile</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          classes: "govuk-table--m",
          head: [
            {
              text: "Data"
            },
            {
              text: "Calculation"
            },
            {
              text: "Value",
              classes: "r"
            }
          ],
          rows: [
            [
              {
                text: "Valuation for import"
              },
              {
                text: "Value of goods + freight + insurance costs"
              },
              {
                text: "£1,500.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Import duty <br><span class='govuk-green'>Tariff preference (UK)</span>"
              },
              {
                text: "10% * £1,500.00"
              },
              {
                text: "£150.00",
                classes: "r"
              }
            ],
            [
              {
                html: "Duty total",
                classes: "b"
              },
              {
                text: ""
              },
              {
                text: "£150.00",
                classes: "r b"
              }
            ]
          ]
        }) }}

        <p class="govuk-body">A tariff preference is the rate available if a free trade agreement or another arrangement is in place between the UK and an overseas country. Goods will need to comply with the <a target="_blank" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin" class="govuk-link">rules of origin</a> to benefit from this rate and you will need to provide evidence of compliance with your shipment.</p>

        <p class="govuk-body">UK preferential duties may be applied, as the difference between the UK preferential duty and the EU preferential duty is lower than 3% of the customs value of your trade.</p>
      </div>

    </div>

  </div>
</div>

{% endblock %}
</html>