.country-picker.box .country-picker-container {
    display: table;
}
.country-picker.box {
    margin-bottom: 30px;
}
.box {
    background-color: #dee0e2;
    padding: 15px;
    margin-bottom: 1.05263em;
}

.country-picker.box .country-picker-container label {
    float: none;
}
.country-picker.box .country-picker-container label {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: .5em;
    float: left;
}
.autocomplete__wrapper {
    position: relative;
    // float: left;
}