.govuk-body--m {
    font-size: 16px;
}

.app-step-nav__header:first-of-type {
    border-top: 0px;
}

.js-panel .govuk-form-group {
    xmargin-bottom: 0px;
}

.app-step-nav__panel .govuk-form-group {
    xmargin-bottom: 0px;
}