.tariff-search button {
    box-shadow         : none;
    width              : 40px;
    height             : 40px;
    text-indent        : -5000px;
    background-image   : url('/public/images/search-button.png');
    background-repeat  : no-repeat;
    background-position: 1px -17px;
    margin             : 0px 0px 0px -6px;
}

.code_leaf {
    font-weight: bold;
}

.hi {
    background-color: #ABEAE5
}

