table.measures2 {
    span.table-line {
        display   : block;
        margin-top: .5em;
    }

    span.table-line:first-of-type {
        margin-top: 0px;
    }

    // tr:nth-child(2n) {
    //     background-color: #f8f8f8
    // }
}

.hidden {
    display: none
}


table.measures2 dl {
    margin: 0 !important
}

table.measures2 dl dt {
    cursor  : pointer;
    position: relative
}

table.measures2 dl dt.has_children {
    padding-left   : 25px;
    color          : #1961a0;
    text-decoration: underline
}

table.measures2 dl dt.has_children:hover {
    color: #003078
}

table.measures2 dl dt.has_children:focus {
    outline         : 3px solid rgba(0, 0, 0, 0);
    color           : #0b0c0c;
    background-color: #fd0;
    box-shadow      : 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration : none
}

table.measures2 dl dt.has_children:before {
    content          : "";
    position         : absolute;
    top              : 3px;
    bottom           : 0;
    left             : 0;
    display          : block;
    width            : 0;
    height           : 0;
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
    clip-path        : polygon(0 0, 100% 50%, 0 100%);
    border-color     : rgba(0, 0, 0, 0);
    border-style     : solid;
    border-width     : 6px 0 6px 10.124px;
    border-left-color: inherit
}

table.measures2 dl dt.open:before {
    display          : block;
    width            : 0;
    height           : 0;
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path        : polygon(0 0, 50% 100%, 100% 0);
    border-color     : rgba(0, 0, 0, 0);
    border-style     : solid;
    border-width     : 10.124px 6px 0;
    border-top-color : inherit;
    top              : 4px
}

table.measures2 dl dd {
    margin: 0
}

table.measures2 dl dd ul {
    margin-top : 1em;
    margin-left: 16px;
    font-size  : 14px
}

table.measures2 dl dd ul li {
    margin-top: .5em
}

@media (min-width:840px) {
    table.measures2 {
        td:first-of-type {
            width       : 20%;
            padding-left: 4px;
        }

        th:first-of-type {
            padding-left: 4px;
        }
    }


    table.measures2 td:nth-of-type(2) {
        width: 22%
    }

    table.measures2 td:nth-of-type(3) {
        width: 23%
    }

    table.measures2 td:nth-of-type(4) {
        width: 10%
    }

    table.measures2 td:nth-of-type(5) {
        width: 15%
    }

    table.measures2 td:nth-of-type(6) {
        width: 10%
    }

    table.measures2 {
        td:first-of-type {
            width       : 20%;
            padding-left: 4px;
        }

        th:first-of-type {
            padding-left: 4px;
        }

        td:nth-of-type(2) {
            width: 22%
        }

        td:nth-of-type(3) {
            width: 23%
        }

        td:nth-of-type(4) {
            width: 10%
        }

        td:nth-of-type(5) {
            width: 15%
        }

        td:nth-of-type(6) {
            width: 10%
        }

        tr.control {
            td:nth-of-type(1) {
                width: 20%
            }

            td:nth-of-type(2) {
                width: 45%
            }

            td:nth-of-type(3) {
                width: 10%
            }

            td:nth-of-type(4) {
                width: 15%
            }

            td:nth-of-type(5) {
                width: 10%
            }
        }
    }








}

.v-small {
    font-size    : 12px;
    //line-height: 1.2em !important;
    display      : inline-block;
}

.sky-blue {
    border-left     : 10px solid #098dc1;
    background-color: #e9f4f9;
}

.grey {
    background-color: #f6f6f6;
    border-left     : 10px solid #ccc;
}

.govuk-inset-text--s {
    font-size             : 16px;
    margin                : 0.5em 0px;
    // background-color   : #f6f6f6;
    // border-left        : 10px solid #ccc;

    .govuk-list {
        font-size: 16px
    }

    p {
        font-size: 16px
    }
}

@media (max-width: 800px) {
    .govuk-inset-text--s {
        font-size       : 14px;
        margin          : 0.5em 0px 1.5em 0px;
        padding         : 0px;
        border-left     : 0px;
        background-color: #fff;
    }
}

.govuk-details-m {
    font-size: 16px;

    p {
        font-size: 16px;
    }
}

#fld-date {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: flex-start;

    legend {
        margin-right: 1em;
        padding-top : 7px;
    }

    .govuk-button {
        width: auto !important
    }

    .govuk-date-input__item {
        margin-right: 10px;
    }
}

.flag {
    margin-left: 0.5em;
    position   : relative;
    filter     : drop-shadow(2px 2px 2px #999);
    min-height : 30px;
}

@media (max-width: 800px) {
    .flag {
        min-height: 20px;
    }
}

.normal {
    font-weight: normal;
}

.noborder {
    border : 0px !important;
    padding: 0px;
}

.govuk-inset-text--s {
    .govuk-hint,
    .govuk-label // .govuk-input,

    // .govuk-input__prefix,
    // .govuk-button
        {
        font-size: 16px
    }
}

// @media (max-width: 800px) {
//     .govuk-inset-text--s {
//         p {
//             font-size: 14px
//         }

//         .govuk-hint {
//             font-size: 14px
//         }

//         .govuk-label {
//             font-size: 14px
//         }
//     }
// }

.meursing_duties {
    border-top      : #666 1px solid;
    display         : block;
    margin-top      : 3px;
    padding-top     : 3px;
}

.meursing_replaced {
    font-weight     : bold;
    background-color: snow;
}