{% extends "layout.html" %}
{% block pageTitle %}
  Trade Tariff: Search by additional code
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/search"
    },
    {
      text: "Extras",
      href: "/extras"
    },
    {
      text: "Additional codes",
      href: "#"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ title }}</span>
      <h1 class="govuk-heading-l">Search by additional code</h1>
      {{ govukInsetText({
              text: "Introductory text describing this section"
            }) }}

      {{ govukSelect({
        id: "type",
        name: "type",
        label: {
          text: "Type"
        },
        items: [
          {
            value: "9",
            text: "9 - National Document"
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Code"
        },
        classes: "govuk-input--width-10",
        id: "code",
        name: "code"
      }) }}

      {{ govukInput({
        label: {
          text: "Description"
        },
        classes: "govuk-input--width-20",
        id: "description",
        name: "description"
      }) }}

      {{ govukButton({
  text: "Search"
}) }}
      <!--
I	Surveillance certificate/licence/ document issued by one of the Member States
K	Tariff quota
L	Import certificate/licence/document
N	UN/EDIFACT certificates
P	Ingredients
R	Export refunds
T	T-Document
U	Proofs of origin
X	Export licence
Y	Particular provisions
Z	More certificates
//-->
    </div>
  </div>

{% endblock %}
</html>