{% extends "layout.html" %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/search/" + scopeId
    },
    {
      text: "Browse the Goods Classification",
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ title }}</span>
            <h1 class="govuk-heading-l">
                Browse the Goods Classification
            </h1>
            {% include "includes/intro_panel.html" %}
            {% include "includes/browse_component.html" %}
        </div>
    </div>
{% endblock %}