{% extends "layout.html" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/search/" + scopeId
    },
    {
      text: "Tools",
      href: "/tools/" + scopeId
    },
    {
      text: "Certificates",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Search by certificate</h1>

      {{ govukInsetText({
              text: "Search for certificates, licences and other document codes. Document codes may be needed to 
              complete your import or export declaration."
            }) }}

      {{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Sort by"
  },
  items: [
    {
      value: "9",
      text: "9 - National Document"
    },
    {
      value: "A",
      text: "A - Certificate of authenticity",
      selected: true
    },
    {
      value: "C",
      text: "C - Other certificates"
    },
    {
      value: "D",
      text: "D - Anti-dumping/countervailing document"
    },
    {
      value: "E",
      text: "E - Export certificate/licence/document from country of origin"
    },
    {
      value: "H",
      text: "H - HANDI, LOOMS certificate"
    },
    {
      value: "I",
      text: "I - Surveillance certificate/licence/ document issued by one of the Member States"
    },
    {
      value: "P",
      text: "P - UN/EDIFACT certificates"
    }
  ]
}) }}

      {{ govukInput({
  label: {
    text: "Certificate code"
  },
  classes: "govuk-input--width-10",
  id: "certificate_code",
  name: "certificate_code"
}) }}

      {{ govukInput({
  label: {
    text: "Description"
  },
  classes: "govuk-input--width-20",
  id: "description",
  name: "description"
}) }}

      {{ govukButton({
  text: "Search"
}) }}
      <!--
I	Surveillance certificate/licence/ document issued by one of the Member States
K	Tariff quota
L	Import certificate/licence/document
N	UN/EDIFACT certificates
P	Ingredients
R	Export refunds
T	T-Document
U	Proofs of origin
X	Export licence
Y	Particular provisions
Z	More certificates
//-->
    </div>
  </div>

{% endblock %}
</html>