{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/sections/" + scopeId
    },
    {
      text: browse_breadcrumb,
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ title }}</span>
            <h1 class="govuk-heading-l">
                Chapter {{ chapter.data.attributes.goods_nomenclature_item_id | substring(0, 2) }}: {{ chapter.data.attributes.formatted_description | safe }}
            </h1>
            {% include "includes/intro_panel_short.html" %}

            <div class="panel">
                <nav class="breadcrumb">
                    <ul class="govuk-list">
                        {% for item in chapter.included %}
                            {% if (item.type == "section") %}
                                <li class="section">
                                    <a href="/sections/{{ item.id }}/{{ scopeId }}">Section {{ item.attributes.numeral }}: {{ item.attributes.title | safe }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="crumb indent_1">
                            <div class="commodity">
                                <span class="code mauve">{{ chapter.data.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                <span class="code blue"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                            </div>
                            <div class="description">{{ chapter.data.attributes.formatted_description | safe }}</div>
                        </li>

                    </ul>
                </nav>
            </div>

            {# {{ govukInsetText({
                html: "There are important notes for classifying your goods shown further down this page.<br><br>Get guidance on this product area: <a href='https://www.gov.uk/government/collections/classification-of-goods'>Classification of goods</a>"
            }) }} #}

            <h2 class="govuk-heading-m">Choose the heading that best matches your goods</h2>
            <div class="chapter_row">
                <div class="commodity b">
                    Heading
                </div>
                <div class="description b">Description</div>
            </div>
            {% for heading in chapter.included %}
                {% if (heading.type == "heading") %}
                    <div class="chapter_row">
                        <div class="commodity">
                            <span class="code mauve">{{ heading.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                            <span class="code blue">{{ heading.attributes.goods_nomenclature_item_id | substring(2, 2) }}</span>
                        </div>
                        <div class="description">
                            <a href="/headings/{{ heading.attributes.goods_nomenclature_item_id | substring(0, 4) }}/{{ scopeId }}">
                                {{ heading.attributes.formatted_description | safe }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <article class="section_chapter_notes">
                <h2 class="govuk-heading-s">Chapter notes</h2>
                {{ chapter.data.attributes.chapter_note | showdown | safe }}
                {% for item in chapter.included %}
                    {% if (item.type == "section") %}
                        <h2 class="govuk-heading-s">Section notes</h2>
                        {{ item.attributes.section_note | showdown | safe }}
                    {% endif %}
                {% endfor %}
            </article>
        </div>

    </div>

{% endblock %}