{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/sections/" + scopeId
},
{
text: browse_breadcrumb,
href: ""
}
]
}) }}
{% endblock %}

{% block content %}

    <span class="govuk-caption-xl">{{ title }}</span>
    <h1 class="govuk-heading-l">
    Commodity information for {{ commodity.data.attributes.goods_nomenclature_item_id }}
        <div class="copy_code" id="copy_code">
            <span id="copy_comm_code" class="pseudo-link govuk-link">Copy commodity code</span><br>
            <span class="copied">Code copied</span>
        </div>
        <noscript>
            <style>
                #copy_code {
                    display: none;
                }
            </style>
        </noscript>
    </h1>
    {% include "includes/intro_panel_short.html" %}

    {% include "includes/date-picker.html" %}

    <div class="panel">
        <nav class="breadcrumb">
            <ul class="govuk-list">
                {% set counter = 2 %}
                {% for item in commodity.included %}
                    {% if (item.type == "section") %}
                        <!-- Section //-->
                        <li class="section">
                            <a href="/sections/{{ item.id }}/{{ scopeId }}">Section {{ item.attributes.numeral }}: {{
                    item.attributes.title | safe }}</a>
                        </li>
                    {% endif %}
                    {% if (item.type == "chapter") %}
                        <!-- Chapter //-->
                        <li class="crumb indent_1">
                            <div class="commodity">
                                <span class="code mauve">{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                <span class="code blue"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                            </div>
                            <div class="description">
                                <a
                        href="/chapters/{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}/{{ scopeId }}">{{
                        item.attributes.formatted_description | safe }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if (item.type == "heading") %}
                        <!-- Heading //-->
                        <li class="crumb indent_2">
                            <div class="commodity">
                                <span class="code mauve">{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                <span class="code blue">{{ item.attributes.goods_nomenclature_item_id | substring(2, 2) }}</span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                            </div>
                            <div class="description">
                                <a
                        href="/headings/{{ item.attributes.goods_nomenclature_item_id | substring(0, 4) }}/{{ scopeId }}">{{
                        item.attributes.formatted_description | safe }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if (item.type == "commodity") %}
                        {% set counter = (counter | default(2)) + 1 %}
                        <!-- Ancestors //-->
                        <li class="crumb indent_{{ counter }}">
                            <div class="commodity">
                                <span class="code mauve">{{ item.attributes.formatted_commodity_code | substring(0, 2) }}</span>
                                <span class="code blue">{{ item.attributes.formatted_commodity_code | substring(2, 2) }}</span>
                                <span class="code green">{{ item.attributes.formatted_commodity_code | substring(4, 2) }}</span>
                                <span class="code green">{{ item.attributes.formatted_commodity_code | substring(6, 2) }}</span>
                                <span class="code green">{{ item.attributes.formatted_commodity_code | substring(8, 2) }}</span>
                            </div>
                            <div class="description">
                                <a
                        href="/headings/{{ item.attributes.goods_nomenclature_item_id | substring(0, 4) }}/{{ scopeId }}">{{
                        item.attributes.formatted_description | safe }}</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="crumb indent_{{ counter + 1 }}">
                    <div class="commodity">
                        <span class="code mauve">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(0, 2)
                        }}</span>
                        <span class="code blue">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(2, 2)
                        }}</span>
                        <span class="code green">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(4, 2)
                        }}</span>
                        <span class="code green">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(6, 2)
                        }}</span>
                        <span class="code green">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(8, 2)
                        }}</span>
                    </div>
                    <div class="description">{{ commodity.data.attributes.formatted_description }}</div>
                </li>
            </ul>
        </nav>
    </div>

    {% include "includes/country_selector_all.html" %}

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>
        <ul class="govuk-tabs__list">
            {# <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#overview">Overview</a>
        </li> #}
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" id="tab_import" href="#import">Import measures</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" id="tab_export" href="#export">Export measures</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" id="tab_rules_of_origin" href="#rules_of_origin">Rules of origin</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" id="tab_footnotes" href="#footnotes">Footnotes</a>
            </li>
        </ul>
        {# <div class="govuk-tabs__panel" id="overview">
        <h2 class="govuk-heading-m">Overview</h2>
        <p>This information is for <strong>{{ date_string }}</strong>.</p>
        <div class="panels govuk-grid-row">
            <div class="panel govuk-grid-column-one-half" style="margin-right:1em">
                <h2 class="govuk-heading-m">Import</h2>
                <p>The commodity code for importing is <strong>{{ commodity.data.attributes.goods_nomenclature_item_id
                        }}</strong>.</p>
                <p>Goods are subject to VAT standard rate (<strong>20.00 %</strong>).</p>
                <p>Importing from outside the EU is subject to a third country duty of <strong>{{
                        commodity.data.attributes.basic_duty_rate | safe }}</strong> unless subject to other measures.
                </p>
                <p>Import measures and restrictions for specific countries can be found under the <a
                        href="#import">import</a> tab.</p>
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Duty calculation</h2>
                <p>Use our tariff duty calculator to work out the
                    <a href="/calculate/date/{{ commodity.data.attributes.goods_nomenclature_item_id }}">duties&nbsp;applicable
                        to the import of commodity {{ commodity.data.attributes.goods_nomenclature_item_id }} into the
                        United Kingdom</a>.
                </p>
            </div>
            <div class="panel govuk-grid-column-one-half">
                <h2 class="govuk-heading-m">Export</h2>
                <p>The commodity code for exporting and intrastat reporting is <strong>{{
                        commodity.data.attributes.goods_nomenclature_item_id | substring(0, 8) }}</strong>.</p>
                <p>Export measures and restrictions for specific countries can be found under the <a
                        href="#export">export</a> tab.</p>
            </div>
        </div>
    </div> #}
        <div class="govuk-tabs__panel" id="import">
            {% include "includes/commodities_import.html" %}
        </div>
        <div class="govuk-tabs__panel" id="export">
            {% include "includes/commodities_export.html" %}
        </div>
        <div class="govuk-tabs__panel" id="footnotes">
            {% if commodity.commodity_footnote_count > 0 %}
                <table class="govuk-table xgovuk-table--m">
                    <caption class="govuk-table__caption govuk-table__caption--m">Footnotes for commodity {{
                commodity.data.attributes.goods_nomenclature_item_id }}</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Code</th>
                            <th scope="col" class="govuk-table__header">Description</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for item in commodity.footnotes %}
                            {% if item.footnote_class == "commodity" %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">{{ item.code }}</td>
                                    <td class="govuk-table__cell">{{ item.description | safe }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="govuk-tabs__panel" id="rules_of_origin">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% if roo.valid_rules %}
                        <span class="govuk-caption-m">Rules of origin - trading with {{ commodity.country_name2 }}</span>
                        {% if roo.product_specific_rules %}
                            <div class="xgovuk-inset-text">
                                <h2 class="govuk-heading-m">
                                Product-specific rules for commodity {{ commodity.data.attributes.goods_nomenclature_item_id }}
                                </h2>
                                {{ roo["product_specific_rules"] | safe }}
                            </div>
                        {% endif %}

                        {# <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">The UK's trading relationship with the EU</span>
                            </summary>
                            <div class="govuk-details__text">
                                {{ roo["fta_intro"] | safe }}
                            </div>
                        </details> #}

                        <details class="govuk-details govuk-details-m" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Explanatory notes on these rules of origin</span>
                            </summary>
                            <div class="govuk-details__text">
                                {{ roo["intro_text"] | safe }}
                            </div>
                        </details>
                        

                    </div>
                    <div class="govuk-grid-column-one-third">
                        <aside class="app-related-items" role="complementary">
                            <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
                            <nav role="navigation" aria-labelledby="subsection-title">
                                <ul class="govuk-list govuk-list-s">
                                    {% for link in roo.links %}
                                        <li>
                                            <a href="{{ link.url }}">{{ link.text }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </nav>
                        </aside>
                    </div>
                {% else %}
                    <h2 class="govuk-heading-m">Rules of origin</h2>
                    <p>To view rules of origin, select a country with which the UK has a trade agreement from the list
                    above.</p>

                {% endif %}
            </div>
        </div>

    </div>

</div>
<!-- Start footnotes //-->
{% for measure in commodity.measures %}
    {% if measure.has_footnotes == true %}
        <div id="footnotes_{{ measure.id }}" class="modal modal_commodity">
            <h2 class="govuk-heading govuk-heading-m govuk-!-margin-top-4">Footnotes for measure {{
        measure.measure_type_description }}</h1>
            <p>The table below shows the conditions associated with the {{ measure.measure_type_description }} measure
            on the import of commodity <strong>{{ commodity.data.attributes.goods_nomenclature_item_id }}</strong> from
            <strong>{{ measure.geographical_area_description }}</strong>.
        </p>

            <table class="govuk-table govuk-table--m">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Code</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for f in measure.footnotes %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell b">{{ f.code }}</td>
                            <td class="govuk-table__cell">{{ f.description | safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endfor %}
<!-- End footnotes //-->

<!-- Start conditions //-->
{% for measure in commodity.measures %}
    {% if measure.has_conditions == true %}
        <div id="measure_conditions_{{ measure.id }}" class="modal modal_commodity">
            <h2 class="govuk-heading govuk-heading-l govuk-!-margin-top-4">{{ measure.measure_type_description }} - {{
        measure.geographical_area_description }}</h1>
            {# <h2 class="govuk-heading govuk-heading-m govuk-!-margin-top-4">Conditions for {{
            measure.measure_type_description }} with {{ measure.geographical_area_description }}</h1> #}
            <p>The table below shows the conditions associated with the <b>{{ measure.measure_type_description }}</b>
                measure
                on the import of commodity <strong>{{ commodity.data.attributes.goods_nomenclature_item_id }}</strong>
                from
                <strong>{{ measure.geographical_area_description }}</strong>.
            </p>
            {# <p>Showing instructions for declarations on {{ toggle_message.border_system }}. <a href=""
                    id="border_system_toggler">{{ toggle_message.toggle_text }}</a>
            </p> #}
            <p>{{ measure.popup_message }}</p>

            {% set previous_condition_code = "" %}
            {% set rule_column = "Rule" %}
            {% set previous_condition_class_label = "" %}
            {% for mc in measure.exposed_conditions %}
                {% if mc.positive %}
                    {% if mc.condition_class_label != previous_condition_class_label %}
                        <table class="govuk-table govuk-table--m">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header min10">Code</th>
                                    <th scope="col" class="govuk-table__header min25">{{ mc.condition_class_label }}</th>
                                    <th scope="col" class="govuk-table__header min65 declaration_th">{{
                            toggle_message.declaration_th }}</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body--m">
                            {% endif %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell b">{{ mc.document_code }}</td>
                                <td class="govuk-table__cell">
                                    {{ mc.requirement | safe }}
                                </td>
                                <td class="govuk-table__cell">
                                    <div class="instructions_cds {{ toggle_message.cds_class }}">
                                        {{ mc.article_5a.details_cds | safe }}
                                    </div>
                                    <div class="instructions_chief {{ toggle_message.chief_class }}">
                                        {{ mc.article_5a.details_chief | safe }}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% set previous_condition_class_label = mc.condition_class_label %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="govuk-inset-text govuk-inset-text--s">View <a
                    href="/import-guidance/date/{{ commodity.data.attributes.goods_nomenclature_item_id }}">details of
                    all import controls for commodity {{ commodity.data.attributes.goods_nomenclature_item_id }}</a>.
                You will be asked to specify the date of import and where the goods are coming from.</div>
        </div>
    {% endif %}
{% endfor %}
<!-- End conditions //-->

<!-- Start quotas //-->
{% for measure in commodity.measures %}
    {% if measure.order_number_id != null %}
        <div id="quota_{{ measure.order_number_id }}" class="modal modal_commodity">
            <h2 class="govuk-heading govuk-heading-m govuk-!-margin-top-4">Quota {{ measure.order_number_id }}</h1>
            {# <p>The table below shows the current state of quota {{ measure.order_number_id }}.</p> #}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                Please be aware - this is a child quota and ....</strong>
            </div>

            <table class="govuk-table govuk-table--m">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Quota order number</th>
                        <td class="govuk-table__cell">{{ measure.order_number_id }}</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Current balance</th>
                        <td class="govuk-table__cell">1234 kilograms</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Opening balance</th>
                        <td class="govuk-table__cell">1234 kilograms</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Status</th>
                        <td class="govuk-table__cell">Open</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Start and end dates</th>
                        <td class="govuk-table__cell">1 Apr 2021 to 30 Jun 2021</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Last allocation date</th>
                        <td class="govuk-table__cell">1 May 2021</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Suspension period</th>
                        <td class="govuk-table__cell">n/a</th>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Blocking period</th>
                        <td class="govuk-table__cell">n/a</th>
                    </tr>
                </tbody>
            </table>
            <p>In an effort to facilitate UK importers HMRC endeavours to keep quotas 'OPEN' where possible, therefore the
            information displayed above may differ slightly from the current UK position. If you require further
            information contact the Tariff Quota Management Team by email: <a
                href="mailto:tariff.management@hmrc.gov.uk">tariff.management@hmrc.gov.uk</a>.</p>
        </div>
    {% endif %}
{% endfor %}
<!-- End quotas //-->

<script type="text/javascript" src="/public/javascripts/calendar-button.js"></script>
<script type="text/javascript" src="/public/javascripts/datepicker.js"></script>
<script type="text/javascript" src="/public/javascripts/datepicker-day.js"></script>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
    var selectEl = document.querySelector('#location-picker')
    accessibleAutocomplete.enhanceSelectElement({autoselect: true, confirmOnBlur: true, defaultValue: "", minLength: 2, selectElement: selectEl})

    var queryStringParameters = window.location.search
    var previouslySubmitted = queryStringParameters.length > 0
    if (previouslySubmitted) {
        var submittedEl = document.querySelector('.submitted')
        submittedEl
            .classList
            .remove('submitted--hidden')
        var params = new URLSearchParams(document.location.search.split('?')[1])
        document
            .querySelector('.submitted__location-picker')
            .innerHTML = params.get('location-picker')
    }
</script>

<script type="text/javascript">
    $(function () {
        $("#copy_comm_code").click(function (event) {
            copyToClipboard("{{ commodity.data.attributes.goods_nomenclature_item_id }}");

            $(".copied").css("text-indent", "0");
            $(".copied")
                .delay(500)
                .fadeOut(750, function () {
                    $(".copied").css("text-indent", "-999em");
                    $(".copied").css("display", "block");
                });
            event.preventDefault();
        });

        function copyToClipboard(text) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp
                .val(text)
                .select();
            document.execCommand("copy");
            $temp.remove();
        }

    });
</script>

<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });

    $(function () {
        var bookmark = window.location.hash.replace("#", "");
        $('#tab').val(bookmark);

        $(".govuk-tabs__tab").click(function () {
            selected_tab = $(this)
                .attr("id")
                .replace("tab_", "");
            $('#tab').val(selected_tab);
        });
    });
</script>

{% endblock %}

</html>