{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/search/" + scopeId
    },
    {
      text: "Browse the Goods Classification",
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block content %}

    <span class="govuk-caption-xl">{{ title }}</span>
    <h1 class="govuk-heading-l">
        Trade data for commodity {{ commodity.data.attributes.goods_nomenclature_item_id }}
    </h1>
    {% include "includes/intro_panel_short.html" %}

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
      This tariff is for {{ date_string }}. Click to change
    </span>
        </summary>
        <div class="govuk-details__text">

            {{ govukDateInput({
  id: "date",
  namePrefix: "date",
  fieldset: {
    legend: {
      text: "On which date will your trade take place?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      classes: "govuk-input--width-2",
      name: "day",
      value: "1"
    },
    {
      classes: "govuk-input--width-2",
      name: "month",
      value: "1"
    },
    {
      classes: "govuk-input--width-4",
      name: "year",
      value: "2021"
    }
  ]
}) }}
            {{ govukButton({
  text: "Update date"
}) }}

        </div>
    </details>

    <div class="panel">
        <nav class="breadcrumb">
            <ul class="govuk-list">
                {% set counter = 2 %}
                {% for item in commodity.included %}
                    {% if (item.type == "section") %}
                        <!-- Section //-->
                        <li class="section">
                            <a href="/sections/{{ item.id }}/{{ scopeId }}">Section {{ item.attributes.numeral }}: {{ item.attributes.title | safe }}</a>
                        </li>
                    {% endif %}
                    {% if (item.type == "chapter") %}
                        <!-- Chapter //-->
                        <li class="crumb indent_1">
                            <div class="commodity">
                                <span class="code mauve">{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                <span class="code blue"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                            </div>
                            <div class="description">
                                <a href="/chapters/{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}/{{ scopeId }}">{{ item.attributes.formatted_description | safe }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if (item.type == "heading") %}
                        <!-- Heading //-->
                        <li class="crumb indent_2">
                            <div class="commodity">
                                <span class="code mauve">{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                <span class="code blue">{{ item.attributes.goods_nomenclature_item_id | substring(2, 2) }}</span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                            </div>
                            <div class="description">
                                <a href="/headings/{{ item.attributes.goods_nomenclature_item_id | substring(0, 4) }}/{{ scopeId }}">{{ item.attributes.formatted_description | safe }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if (item.type == "commodity") %}
                        {% set counter = (counter | default(2)) + 1 %}
                        <!-- Ancestors //-->
                        <li class="crumb indent_{{ counter }}">
                            <div class="commodity">
                                <span class="code mauve">{{ item.attributes.formatted_commodity_code | substring(0, 2) }}</span>
                                <span class="code blue">{{ item.attributes.formatted_commodity_code | substring(2, 2) }}</span>
                                <span class="code green">{{ item.attributes.formatted_commodity_code | substring(4, 2) }}</span>
                                <span class="code green">{{ item.attributes.formatted_commodity_code | substring(6, 2) }}</span>
                                <span class="code green">{{ item.attributes.formatted_commodity_code | substring(8, 2) }}</span>
                            </div>
                            <div class="description">
                                <a href="/headings/{{ item.attributes.goods_nomenclature_item_id | substring(0, 4) }}/{{ scopeId }}">{{ item.attributes.formatted_description | safe }}</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="crumb indent_{{ counter + 1 }}">
                    <div class="commodity">
                        <span class="code mauve">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                        <span class="code blue">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(2, 2) }}</span>
                        <span class="code green">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(4, 2) }}</span>
                        <span class="code green">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(6, 2) }}</span>
                        <span class="code green">{{ commodity.data.attributes.goods_nomenclature_item_id | substring(8, 2) }}</span>
                    </div>
                    <div class="description">{{ commodity.data.attributes.formatted_description }}</div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#overview">Overview</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#import">Import</a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#export">Export</a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="overview">
            <h2 class="govuk-heading-m">Overview</h2>
            <p>This information is for <strong>{{ date_string }}</strong>.</p>
            <div class="panels govuk-grid-row">
                <div class="panel govuk-grid-column-one-half" style="margin-right:1em">
                    <h2 class="govuk-heading-m">Import</h2>
                    <p>The commodity code for importing is <strong>{{ commodity.data.attributes.goods_nomenclature_item_id }}</strong>.</p>
                    <p>Goods are subject to VAT standard rate (<strong>20.00 %</strong>).</p>
                    <p>Importing from outside the EU is subject to a third country duty of <strong>{{ commodity.data.attributes.basic_duty_rate | safe }}</strong> unless subject to other measures.</p>
                    <p>
                        <a href="/calculate/date/{{ commodity.data.attributes.goods_nomenclature_item_id }}">Calculate your import duties</a>
                    </p>
                    <p>Import measures and restrictions for specific countries can be found under the <a href="#import">import</a> tab.</p>
                </div>
                <div class="panel govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">Export</h2>
                    <p>The commodity code for exporting and intrastat reporting is <strong>{{ commodity.data.attributes.goods_nomenclature_item_id | substring(0, 8) }}</strong>.</p>
                    <p>Export measures and restrictions for specific countries can be found under the <a href="#export">export</a> tab.</p>
                </div>
            </div>
        </div>
        <div class="govuk-tabs__panel" id="import">
            <h2 class="govuk-heading-m">Import measures and restrictions</h2>
            <p>This information is for <strong>{{ date_string }}</strong>.</p>
            
            {% include "includes/country_selector.html" %}

            {% for display_block in commodity.display_blocks %}
                <h2 class="govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-0">{{ display_block.block }} on {{ commodity.goods_nomenclature_item_id | format_commodity_code }}</h2>
                {% if display_block.explainers %}
                    <details class="govuk-details govuk-!-font-size-16 govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">{{ display_block.explainers.title }}</span>
                        </summary>
                        <div class="govuk-details__text">
                            <ul class="govuk-list govuk-!-font-size-16">
                                {% for explainer in display_block.explainers.items %}
                                    <li>
                                        <strong>{{ explainer.measure_type | safe }}</strong><br>{{ explainer.description | safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </details>
                {% endif %}
                <table class="govuk-table govuk-table--s measures2 app-flexible-table">
                    <thead class="govuk-table__head app-flexible-table__head">
                        <tr class="govuk-table__row app-flexible-table__row">
                            <th scope="col" class="govuk-table__header country app-flexible-table__header">Country</th>
                            {# <th scope="col" class="govuk-table__header exclusions app-flexible-table__header">Exclusions</th> #}
                            <th scope="col" class="govuk-table__header measure app-flexible-table__header">Measure type</th>
                            <th scope="col" class="govuk-table__header value app-flexible-table__header">Value</th>
                            <th scope="col" class="govuk-table__header conditions app-flexible-table__header">Conditions</th>
                            <th scope="col" class="govuk-table__header dates app-flexible-table__header">Date&nbsp;(s)</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body  app-flexible-table__body">
                        {% for measure in commodity.measures %}
                            {% if (measure.import == true) and (measure.display_block.block == display_block.block) %}
                                <tr class="govuk-table__row measure app-flexible-table__row">
                                    <td class="govuk-table__cell country app-flexible-table__cell">
                                        {% if (measure.geographical_area.geographical_area_code == 100) %}
                                            <details class="govuk-details" data-module="govuk-details">
                                                <summary class="govuk-details__summary">
                                                    <span class="govuk-details__summary-text">{{ measure.geographical_area_description }}</span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                    <ul class="countries">
                                                        <li>Albania (AL)</li>
                                                        <li>Cocos Islands (or Keeling Islands) (CC)</li>
                                                        <li></li>
                                                    </ul>
                                                    <br>

                                                </div>
                                            </details>
                                        {% else %}
                                            {{ measure.geographical_area_description }}
                                            {% if measure.excluded_country_string != "" %}
                                             <br><span class="govuk-!-font-size-14 grey">excluding {{ measure.excluded_country_string }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="govuk-table__cell measure app-flexible-table__cell">
                                        {{ measure.measure_type_description | title_case }}
                                        {% if measure.order_number_id %}
                                            Order no: <a href="#">{{ measure.order_number_id | format_order_number }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="govuk-table__cell value app-flexible-table__cell">{{ measure.duty_expression.formatted_base | safe }}</td>
                                    <td class="govuk-table__cell conditions app-flexible-table__cell">
                                        <a href="">TBC</a>
                                    </td>
                                    <td class="govuk-table__cell dates app-flexible-table__cell nw" nowrap>{{ measure.effective_start_date | format_date("DD MMM YY") }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
                <p class="govuk-body govuk-!-margin-top-4 govuk-!-font-size-16x">{{ display_block.link_text | safe }}</p>
            {% endfor %}

        </div>
        <div class="govuk-tabs__panel" id="export">
            <h2 class="govuk-heading-m">Export measures and restrictions</h2>
            <p>This information is for <strong>{{ date_string }}</strong>.</p>
            {# {% include "includes/types_of_measure.html" %} #}
        </div>

    </div>
    {% if commodity.footnotes.length %}
        <table class="govuk-table govuk-table--s">
            <caption class="govuk-table__caption">Footnotes</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Code</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for item in heading.footnotes %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ item.code }}</td>
                        <td class="govuk-table__cell">{{ item.description | safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
</html>