{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/sections/" + scopeId
    },
    {
      text: browse_breadcrumb,
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ title }}</span>
            <h1 class="govuk-heading-m">
                Chapter {{ heading.data.attributes.goods_nomenclature_item_id | substring(0, 2) }}: {{ heading.data.attributes.formatted_description | safe }}
            </h1>
            {% include "includes/intro_panel_short.html" %}
            <div class="panel">
                <nav class="breadcrumb">
                    <ul class="govuk-list">
                        {% for item in heading.included %}
                            {% if (item.type == "section") %}
                                <!-- Section //-->
                                <li class="section">
                                    <a href="/sections/{{ item.id }}/{{ scopeId }}">Section {{ item.attributes.numeral }}: {{ item.attributes.title | safe }}</a>
                                </li>
                            {% endif %}
                            {% if (item.type == "chapter") %}
                                <!-- Chapter //-->
                                <li class="crumb indent_1">
                                    <div class="commodity">
                                        <span class="code mauve">{{ item.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                        <span class="code blue"></span>
                                        <span class="code green"></span>
                                        <span class="code green"></span>
                                        <span class="code green"></span>
                                    </div>
                                    <div class="description">
                                        <a href="/chapters/{{ heading.data.attributes.goods_nomenclature_item_id | substring(0, 2) }}/{{ scopeId }}">{{ item.attributes.formatted_description | safe }}</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="crumb indent_2">
                            <div class="commodity">
                                <span class="code mauve">{{ heading.data.attributes.goods_nomenclature_item_id | substring(0, 2) }}</span>
                                <span class="code blue">{{ heading.data.attributes.goods_nomenclature_item_id | substring(2, 2) }}</span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                                <span class="code green"></span>
                            </div>
                            <div class="description">{{ heading.data.attributes.formatted_description | safe }}</div>
                        </li>
                    </ul>
                </nav>
            </div>

            {% include "includes/heading_include.html" %}

            {% if heading.footnotes.length %}
                <article class="section_chapter_notes">
                    <table class="govuk-table govuk-table--s">
                        <caption class="govuk-table__caption">Footnotes</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Code</th>
                                <th scope="col" class="govuk-table__header">Description</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for item in heading.footnotes %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">{{ item.code }}</td>
                                    <td class="govuk-table__cell">{{ item.description | safe }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
            {% endif %}

            <article class="section-chapter-notes">
                {% for item in heading.included %}
                    {% if (item.type == "chapter") %}
                        <h2 class="govuk-heading-s">Chapter notes</h2>
                        {{ item.attributes.chapter_note | showdown | safe }}
                        {{ item.attributes.chapter_note }}
                    {% endif %}
                {% endfor %}
                <h2 class="govuk-heading-s">Section notes</h2>
                {{ heading.section_note | showdown | safe }}
            </article>
        </div>
    </div>

</div>
<script type="text/javascript" src="/public/javascripts/debounce.js"></script>
<script type="text/javascript" src="/public/javascripts/commodities.js"></script>

<script>

$(function(){
  GOVUK.tariff.onLoad();
});
</script>

{% endblock %}