{% extends "layout.html" %}
{% block pageTitle %}
  Trade Tariff: Search by quota
{% endblock %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/search/" + scopeId
    },
    {
      text: "Tools",
      href: "/tools/" + scopeId
    },
    {
      text: "Quotas",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ title }}</span>
            <h1 class="govuk-heading-l">
                Search for quotas
            </h1>
      {{ govukInsetText({
              text: "Search for tariff quotas, including daily updated balances."
            }) }}


            {{ govukInput({
  label: {
    text: "Commodity code"
  },
  hint: {
    text: "Enter the full 10-digit commodity code"
  },
  classes: "govuk-input--width-10",
  id: "width-10",
  name: "width-10"
}) }}

            {{ govukSelect({
  id: "country",
  name: "country",
  label: {
    text: "Country"
  },
  hint: {
    text: "Enter the full 10-digit commodity code"
  },
  items: [
    {
      value: "9",
      text: "9 - National Document"
    },
    {
      value: "Andorra",
      text: "Andorra",
      selected: true
    }
  ]
}) }}

{{ govukInput({
  label: {
    text: "Quota order number"
  },
  hint: {
    text: "Enter the 6-digit quota order number"
  },
  classes: "govuk-input--width-5",
  id: "width-10",
  name: "width-10"
}) }}


{{ govukCheckboxes({
  idPrefix: "year",
  name: "year",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Year of operation",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s notbold"
    }
  },
  hint: {
    text: "You can search back up to 4 years for quotas. Select the years in which you would like to search for quotas."
  },
  items: [
    {
      value: "2021",
      text: "2021"
    },
    {
      value: "2020",
      text: "2020"
    },
    {
      value: "2019",
      text: "2019"
    },
    {
      value: "2018",
      text: "2018"
    }
  ]
}) }}

{{ govukButton({
  text: "Search for quotas",
  href: "/quota_results.html"
}) }}

        </div>
    </div>

{% endblock %}
</html>