<form class="form-inline" method="get">
  {{ govukInput({
  label: {
    text: "Search the UK Global Tariff"
  },
  classes: "xgovuk-input--width-20 search-field",
  placeholder: "Enter the name of the goods or commodity code",
  id: "search",
  name: "search"
}) }}

  {# {{ govukButton({
  text: "Search",
  classes: "inline-button",
  name: "btn_search",
  id: "btn_search"
}) }} #}
</form>

{# <p class="govuk-body-s">
  This tariff covers imports into England, Scotland and Wales and the UK tariff
  as applies to Northern Ireland. From January 1st, Northern Ireland is
  operating under a dual tariff regime.
</p>
<p class="govuk-body-s">
  Switch to view <a href="">EU tariff for Northern Ireland</a> imports.
  Find out more about the <a href="/dual_tariff.html">Dual Tariff regime for Northern Ireland</a>
</p> #}

{# <p class="govuk-body-s">
  This tariff is for {{ date_string }}
  <a href="#" class="change_date">Change date</a>
</p> #}

{{ govukDateInput({
  id: "date_of_trade",
  namePrefix: "date_of_trade",
  fieldset: {
    legend: {
      text: "Date of trade?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s notbold"
    }
  },
  hintx: {
    text: "For example, 31 6 2021"
  }
}) }}

{{ govukDetails({
  summaryText: "Why the date is important",
  text: "Lorem ipsum ..."
}) }}

{{ govukButton({
  text: "Search"
}) }}