{% extends "layout.html" %}
{% block beforeContent %}
{{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}

{% endblock %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Trade Tariff: look up commodity codes, duty and VAT rates
            </h1>
            <div class="panel panel_blue">
            Are you trading with Northern Ireland? From January 1st 2021, Northern Ireland is operating under
a dual tariff regime and the rules may differ if you are importing goods that are then at risk of being
transported to the Republic of Ireland. In that case, use the <a href="#">Northern Ireland Tariff</a>.
            </div>
            {% include "search.html" %}
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-caption-l">All sections</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Section title</th>
                        <th scope="col" class="govuk-table__header">Section</th>
                        <th scope="col" class="govuk-table__header">Chapters</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for section in sections.data %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a href="/sections/{{ section.id }}">
                                    {{ section.attributes.title }}
                                </a>
                            </td>
                            <td class="govuk-table__cell c roman">
                                {{ section.id | roman }}
                            </td>
                            <td class="govuk-table__cell">
                                {% if (section.attributes.chapter_from != section.attributes.chapter_to) %}
                                    {{ section.attributes.chapter_from|int }} to {{ section.attributes.chapter_to|int }}
                                {% else %}
                                    {{ section.attributes.chapter_from }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}